html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
    background: #ccc;
    font-family: Courier;
    font-size: 12pt;
}

.block {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.type {
    position: absolute;
    left: 0;
    font-family: serif;
    font-size: 11pt;
    border-radius: .2em;
    color: #fff;
}

.block > p {
    background: #fff;
    margin-left: 80px;
    max-width: 68em;
}

.typeSlug {
    background: #f84;
}
.typeDialog {
    background: #080;
}
.typeDual {
    background: #088;
}
.typeAction {
    background: #333;
}
.typeTransition {
    background: #888;
}
