/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Styles for Screenplain */

.screenplay {
  background: white;
  font-family:'Courier Final Draft',Courier;
  font-size: 12pt;
  width: 36.14em;
}
.screenplay em {
    font-style: italic;
}
.screenplay strong {
    font-weight: bold;
}
.screenplay br {
    clear: both;
}

/* Slug */
.screenplay > h2 {
  width:36.14em;
  margin-top: 2em;
  font-weight: bold;
  text-transform:uppercase;
}
.screenplay div.action {
  margin-top: 1em;
  width:36.14em;
}
.screenplay .centered {
  text-align: center;
}
.screenplay div.dialog, .screenplay div.dual {
  margin-top: 1em;
}
.screenplay div.transition {
  margin-top: 1em;
  margin-left:24.09em;
  margin-right:2.4em;
  margin-bottom:12pt;
  width: 9.64em;
  text-align:right;
}

.screenplay .dialog p.character {
  padding-left: 12em;
  width: 23em;
}
.screenplay .dialog p.parenthetical {
  padding-left: 9.03em;
  width: 15.06em;
}
.screenplay .dialog p {
  padding-left: 6.05em;
  width: 21.07em;
}

.screenplay .dual > div {
  float: left;
  width:48% !important;
}
.screenplay .dual p.character {
  padding-left: 6em;
}
.screenplay .dual p.parenthetical {
  padding-left: 3em;
}
.screenplay .dual p {
  padding-left:0em;
  width: 19em;
}
.screenplay .dual .right {
  margin-left: 1em;
}
.screenplay .dual .right p.character {
  padding-left: 6em;
}
