html {
	font-size: 12pt;
}
/* Styles for Screenplain */
#wrapper {
	font-family: "Courier Prime", "Courier Final Draft", "Courier Screenplay", Courier, monospace;
	font-size: 1em;
	line-height: 1.0;
	text-align: left;
	width: 36.05em; /* 60 char; 6in */
	background: #fff;
	padding-left: 5.9em;   /* 1.0in - add 0.5in when printing */
	padding-right: 2.9em;  /* 0.5in - add 0.5in when printing */
	padding-top: 1em;      /* Use 1.0in margin when printing */
	padding-bottom: 1em;   /* Use 1.0in margin when printing */
	position: relative;
	margin: 0 auto;
	orphans: 3; /* try to prevent strange page breaks */
	widows: 3;
}
.dialog {
	break-inside: avoid;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%
}
.dialog * {
	margin-top: 0;
	margin-bottom: 0;
}
.dialog > p {
	width: 21.05em; /* 35 char */
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 6.05em; /* 10 char */
}
.dialog > .character {
	break-after: avoid;
	break-inside: avoid;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 13.25em; /* 22 char */
	margin-right: 0;
}
.dialog > .parenthetical {
	break-after: avoid;
	break-before: avoid;
	break-inside: avoid;
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 9.65em; /* 16 char */
	margin-right: 13.15em; /* 22 char */
}
.character + p {
	break-before: avoid;
	break-inside: avoid;
	margin-top: 0;
	margin-bottom: 0;
}
.dual {
	break-inside: avoid;
	width: 100%;
	display:block;
	margin-top: 1em;
	margin-bottom: 0;
}
.dual::after { /* needed for simultaneous dialog to render properly */
  content: "";
  clear: both;
  margin-top: 0;
  margin-bottom: 0;
  display: table;
}
.dual * {
	margin-top: 0;
	margin-bottom: 0;
}
.dual .character {
	break-after: avoid;
	break-before: avoid;
	break-inside: avoid;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5.45em; /* 9 char */
}
.dual .parenthetical {
	break-after: avoid;
	break-before: avoid;
	break-inside: avoid;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 3.55em; /* 7 char */
}
.dual > .left {
	display: inline;
	float: left;
	width: 14.95em; /* 25 char */
	margin-left: 2.95em; /* 5 char */
	margin-top: 0;
	margin-bottom: 0;
}
.dual > .right {
	display: inline;
	float: left;
	width: 14.95em; /* 25 char */
	margin-left: 2.95em; /* 5 char */
	margin-top: 0;
	margin-bottom: 0;
}
.action {
	break-after: avoid;
	break-inside: avoid;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
.action * {
	break-after: avoid;
	break-inside: avoid;
	margin-top: 0;
	margin-bottom: 0;
}
.action + * {
	break-before: avoid;
	break-inside: avoid;
}
/* half the time, centering will be off by 0.5 chars */
/* would need to add an nbsp in html to fix */
.centered {
	text-align: center;
}
.transition {
	break-after: avoid;
	break-inside: avoid;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	text-align: right;
}
.transition * {
	break-after: avoid;
	break-inside: avoid;
	margin-top: 0;
	margin-bottom: 0;
}
.transition + * {
	break-before: avoid;
	break-inside: avoid;
}
h1:before, h2:before, h3:before, h4:before, h5:before {
	content: "◦ ";
	margin-left: -0.667em;
}
h1, h2, h3, h4, h5 {
	font-family: "Gill Sans", "Helvetiva Neue", Helvetica, sans-serif;
	font-size: 0.85em;
	font-weight: normal;
	padding-top: 0.25em;
	margin-top: 1.5em;
	color: rgb(110, 110, 110);
	border-top: dotted 1px rgb(199, 199, 199);
}
.h1-synopsis, .h2-synopsis, .h3-synopsis, .h4-synopsis, .h5-synopsis, .h6-synopsis {
	font-family: "Gill Sans", "Helvetiva Neue", Helvetica, sans-serif;
	font-size: 0.741em;
	font-style: italic;
	color: rgb(145, 145, 145);
	display: block;
}
h1, .h1-synopsis {
	margin-left: -13.33%;
}
h2, .h2-synopsis {
	margin-left: -10%;
}
h3, .h3-synopsis {
	margin-left: -6.67%;
}
h4, .h4-synopsis {
	margin-left: -3.33%;
}
h5, .h5-synopsis {
	margin-left: 0;
}
h6 {
	break-after: avoid;
	break-inside: avoid;
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: bold;
}
span.scnuml {
	display: block;
	float: left;
	margin-left: -4.25em; /* 4 char */
	font-weight: inherit;
	user-select: none;
}
span.scnumr {
	display: block;
	float: right;
	margin-right: 0.65em; /* 1 char */
	font-weight: inherit;
	user-select: none;
}
.page-break {
	break-before: always;
}
